<form method="POST" action="http://localhost:3009/user/register">
<input type="text" name="name" placeholder="Name">
<br>
<input type="text" name="email" placeholder="Email">
<br>
<input type="text" name="age" placeholder="Age">
<br>
<button>Submit</button>
</form>